// SPDX-License-Identifier: GPL-2.0+
/*
 *  Copyright (C) 2011 - 2015 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 */
/dts-v1/;
#include "zynq-7000.dtsi"

/ {
	model = "Avnet ZedBoard board";
	compatible = "avnet,zynq-zed", "xlnx,zynq-zed", "xlnx,zynq-7000";

	aliases {
		ethernet0 = &gem0;
		i2c0 = &i2c0;
		serial0 = &uart1;
		spi0 = &spi0;
		spi1 = &spi1;
		spi2 = &qspi;
		mmc0 = &sdhci0;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};

	usb_phy0: phy0@e0002000 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
};

&clkc {
	ps-clk-frequency = <33333333>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
		device_type = "ethernet-phy";
	};
};

&qspi {
	u-boot,dm-pre-reloc;
	status = "okay";
	is-dual = <0>;
	num-cs = <1>;
	flash@0 {
		compatible = "spansion,s25fl256s1", "jedec,spi-nor";
		reg = <0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
		m25p,fast-read;
		#address-cells = <1>;
		#size-cells = <1>;
/*
		partition@0 {
			label = "qspi-fsbl-uboot";
			reg = <0x0 0x100000>;
		};
		partition@100000 {
			label = "qspi-linux";
			reg = <0x100000 0x500000>;
		};
		partition@600000 {
			label = "qspi-device-tree";
			reg = <0x600000 0x20000>;
		};
		partition@620000 {
			label = "qspi-rootfs";
			reg = <0x620000 0x5E0000>;
		};
		partition@c00000 {
			label = "qspi-bitstream";
			reg = <0xC00000 0x400000>;
		};
*/
	};
};

&sdhci0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};


&spi0 {
	//status = "okay";
	num-cs = <3>;
	spidev@0 {
		compatible = "spidev";
		reg = <0>;
		spi-max-frequency = <50000000>;
		spi-cpha;
		spi-cpol;
	};
	spidev@1 {
		compatible = "spidev";
		reg = <1>;
		spi-max-frequency = <50000000>;
		spi-cpha;
		spi-cpol;
	};
	spidev@2 {
		compatible = "spidev";
		reg = <2>;
		spi-max-frequency = <50000000>;
		spi-cpha;
		spi-cpol;
	};
};

&spi1 {
	status = "okay";
	num-cs = <3>;
	spidev@0 {
		compatible = "spidev";
		reg = <0>;
		spi-max-frequency = <50000000>;
		spi-cpha;
		spi-cpol;
	};
	spidev@1 {
		compatible = "spidev";
		reg = <1>;
		spi-max-frequency = <50000000>;
		spi-cpha;
		spi-cpol;
	};
	spidev@2 {
		compatible = "spidev";
		reg = <2>;
		spi-max-frequency = <50000000>;
		spi-cpha;
		spi-cpol;
	};
};

&i2c0 {
	status = "okay";
	// the following reside on the ESADE/ESAP tester board
	hvc0@40 {
		compatible = "lltc,ltc4260";
		reg = <0x40>;
	};
	hvc1@41 {
		compatible = "lltc,ltc4260";
		reg = <0x41>;
	};
	eeprom@55 {
		compatible = "at,24c256";
		reg = <0x55>;
	};
};

&amba {
	uart16550_0: serial@43c00000 {
		clock-frequency = <100000000>;
		compatible = "ns16550";
/* valid BK Precision 8500 baud rates
		current-speed = <4800>;
		current-speed = <9600>;
		current-speed = <19200>;
		current-speed = <38400>;
*/
		current-speed = <38400>;
		device_type = "serial";
		interrupt-parent = <&intc>;
		interrupts = <0 32 4>;
		reg = <0x43c00000 0x10000>;
		reg-offset = <0x1000>;
		reg-shift = <2>;
	};
	uart16550_1: serial@43c10000 {
		clock-frequency = <100000000>;
		compatible = "ns16550";
		current-speed = <38400>;
		device_type = "serial";
		interrupts = <0 33 4>;
		interrupt-parent = <&intc>;
		reg = <0x43c10000 0x10000>;
		reg-offset = <0x1000>;
		reg-shift = <2>;
	};
	uart16550_2: serial@43c20000 {
		clock-frequency = <100000000>;
		compatible = "ns16550";
		current-speed = <38400>;
		device_type = "serial";
		interrupts = <0 34 4>;
		interrupt-parent = <&intc>;
		reg = <0x43c20000 0x10000>;
		reg-offset = <0x1000>;
		reg-shift = <2>;
	};
	uart16550_3: serial@43c30000 {
		clock-frequency = <100000000>;
		compatible = "ns16550";
		current-speed = <38400>;
		device_type = "serial";
		interrupts = <0 35 4>;
		interrupt-parent = <&intc>;
		reg = <0x43c30000 0x10000>;
		reg-offset = <0x1000>;
		reg-shift = <2>;
	};
};
